{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
  <div class="user-profile">
    <h2>User Profile</h2>
    <div class="profile-details">
      
      <p><strong>First Name </strong> {{ user.first_name }}</p>
      <p><strong>Last Name</strong> {{ user.last_name }}</p>
      <p><strong>Contact Details</strong> {{ user.contact_details }}</p>
      <p><strong>Email</strong> {{ user.email }}</p>

      
    </div>
    <a href="{% url 'edit_profile' %}" class="btn btn-purple">Edit Profile</a>
    <a href="{% url 'home' %}" class="btn btn-primary">Home</a> 
    <a href="{% url 'report_incident' %}" class="btn btn-primary">Report Incident</a>
    <a href="{% url 'logout' %}" class="btn btn-purple">Logout</a>
  </div>
{% endblock %}
