{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h1>Incident Dashboard</h1>

    <div class="buttons-container">
        <a href="{% url 'report_incident' %}" class="btn btn-purple">{% trans 'Report Incident' %}</a>
        <a href="{% url 'logout' %}" class="btn btn-purple">{% trans 'Log Out' %}</a>
        {% if request.LANGUAGE_CODE == 'en' %}
        <a href="{% url 'switch_language' 'es' %}?next={{ request.path }}" class="btn language-switch">Switch to Spanish</a>
    {% else %}
        <a href="{% url 'switch_language' 'en' %}?next={{ request.path }}" class="btn language-switch">Switch to English</a>
    {% endif %}
    </div>
    <form method="GET">
        <input type="text" name="q" placeholder="Search by type, severity, or status" value="{{ request.GET.q }}">
        <select name="severity">
            <option value="">Select Severity</option>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
        </select>
        <select name="status">
            <option value="">Select Status</option>
            <option value="Resolved">Resolved</option>
            <option value="Closed">Closed</option>
            <option value="In Progress">In Progress</option>
        </select>
        <button type="submit">Apply Filters</button>
    </form>
    <table class="incident-table">
        <thead>
            <tr>
                <th>Serial Number</th> 
                <th>Type</th>
                <th>Severity</th>
                <th>Status</th>
                <th>Report Date</th>
            </tr>
        </thead>
        <tbody>
            
            {% for incident in page_obj %}
                <tr>
                    <td style="width: 10px;">{{ forloop.counter }}</td> 
                    <td style="width: 90px;"><a href="{% url 'incident_detail' incident.id %}">{{ incident.type }}</a></td>
                    <td style="width: 90px;">{{ incident.severity }}</td>
                    <td style="width: 90px;">{{ incident.status }}</td>
                    <td style="width: 600px;">{{ incident.Report_date }}</td>
                    
                </tr>
                
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
          const switchLanguageButton = document.querySelector('.hero a.language-switch'); // Target the language switch button
          switchLanguageButton.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default anchor click behavior
            const currentPath = window.location.pathname;
            let newUrl;
      
            // Check the current language and switch accordingly
            if (currentPath.startsWith('/en/')) {
              newUrl = currentPath.replace('/en/', '/es/'); // Switch to Spanish
            } else if (currentPath.startsWith('/es/')) {
              newUrl = currentPath.replace('/es/', '/en/'); // Switch to English
            }
      
            if (newUrl) {
              window.location.href = newUrl;
            }
          });
        });
      </script>
{% endblock %}


