{% extends 'base.html' %}

{% block content %}
    <h1>Incident Detail</h1>
    <div class="buttons-container">
        <a href="{% url 'incident_dashboard' %}" class="btn btn-purple">Back to Dashboard</a>
        <a href="{% url 'logout' %}" class="btn btn-purple">Logout</a>
    </div>
    <h2>Type: {{ incident.type }}</h2>
    <p>Severity: {{ incident.severity }}</p>
    <p>Report Date: {{ incident.Report_date }}</p>
    <p>Description: {{ incident.description }}</p>
    <p>Status: {{ incident.status }}</p>

    {% if incident.evidence %}
        <p><a href="{{ incident.evidence.url }}">Download Evidence</a></p>
    {% else %}
        <p>No evidence uploaded for this incident.</p>
    {% endif %}
    
    <div class="buttons-container">
        <a href="{% url 'delete_incident' incident.id %}" class="btn btn-purple">Delete Incident</a>
    </div>   
{% endblock %}



